[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
[submodule "themes/enervoid"]
	path = themes/enervoid
	url = https://github.com/Enerhim/enervoid-theme.git
